# clang-format v17.0.6
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

Language: Cpp
BasedOnStyle: WebKit

ColumnLimit: 100

BreakBeforeBraces: Custom

SeparateDefinitionBlocks: Always

FixNamespaceComments: true

InsertBraces: true

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

IndentCaseLabels: true
